@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-slate-50 text-gray-900;
  }
}

@layer utilities {
  .flip-card {
    perspective: 1000px;
  }
  .flip-card-inner {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }
}
